<aside class="admin-sidebar">

   <div class="admin-logo">
  <img src="/assets/images/logo1.jpeg" alt="Sunexus Logo">
</div>

    <a href="/admin/dashboard.html">Dashboard</a>
    <a href="/admin/products.html">Products</a>
    <a href="/admin/add-product.html">Add Product</a>
    <a href="/admin/categories.html">Categories</a>
    <!-- <a href="/admin/orders.html">Enquiries</a>
    <a href="/admin/settings.html">Settings</a> -->
    <a href="/index.html">View Website</a>

</aside>
