<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<footer class="footer">
  <div class="footer-grid">

    <!-- Company Info -->
    <div class="footer-brand">
      <img src="/assets/images/logo1.jpeg" alt="Sunexus Logo" class="footer-logo">

      <p>
        Complete solar and electrical product solutions including inverters,
        ACDB/DCDB, earthing, protection devices, cables and mounting structures.
      </p>

      <div class="footer-social">
        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://wa.me/918744003837" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>

    <!-- Quick Links -->
    <div>
      <h4>Quick Links</h4>
      <a href="/index.html">Home</a>
      <a href="/products.html">Products</a>
      <a href="/about.html">About Us</a>
      <a href="/assets/images/Sunexus-Product%20Catlouge.pdf" download>
    Download Product Catalogue
</a>
      <a href="/contact.html">Contact Us</a>
    </div>

    <!-- Product Range -->
    <div>
      <h4>Sunexus Product Range</h4>
       <a href="/products.html">ACDB & DCDB</a>
        <a href="/products.html">Earthing Kits</a>
      <a href="/products.html">Solar Inverters</a>
      <a href="/products.html">DC Wires & AC Cables</a>
      <a href="/products.html">Mounting Structures</a>
    </div>

    <!-- Contact + Map -->
    <div>
      <h4>Contact & Location</h4>

      <p><i class="fas fa-envelope"></i> info@sunexusenergy.com</p>
      <p><i class="fas fa-globe"></i> www.sunexusenergy.com</p>
      <p><i class="fas fa-phone"></i> +91-8744003837</p>
      <p><i class="fas fa-phone"></i> +91-9217756106</p>

      <div class="footer-map-box">
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2256.0914908433892!2d77.48964778794101!3d28.50617087842646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjjCsDMwJzIwLjIiTiA3N8KwMjknMjcuNiJF!5e1!3m2!1sen!2sin!4v1780683271356!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <a href="https://maps.google.com/?q=C-102,Site-B,Surajpur Industrial Area,Greater Noida"
         target="_blank"
         class="footer-map-link">
         View Location →
      </a>
    </div>

  </div>

  <div class="copyright">
    <div class="copyright-left">
      © 2026 Sunexus Power Energy Pvt. Ltd. All Rights Reserved.
    </div>

    <div class="copyright-right">
      <span>Designed By</span>
      <a href="https://www.theakaashyadav.com"
         class="footer-credit-link"
         target="_blank"
         rel="noopener noreferrer">
         theakaashyadav.com
      </a>
    </div>
  </div>
</footer>
